<!-- views/pages/booking.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>No CONNECTIONS </h1>
        <p>Please enter flight(s) or go back to enter new criteria</p>
        <form action="http://127.0.0.1:8080/book0" method="POST">
        <table>
            <tr>
                <th>Total Travel Time</th>
                <th>Total Price</th>
                <th>Travel Class</th>
                <th>Airplane Code</th>
                <th>Flight Number</th>
                <th>Available Seats</th>
                <th>Departure Airport</th>
                <th>Destination Airport</th>
                <th>Departure Time</th>
                <th>Arival Time</th>
            </tr>
            <% drinks.forEach(function(drink) { %>
                <tr>
                    <td><%= drink.duration %></td>
                    <td><%= drink.tprice %></td>
                    <td><%= drink.class %></td>
                    <td><%= drink.ac %></td>
                    <td><%= drink.fn %></td>
                    <th><%= drink.seat %></th>
                    <td><%= drink.iata %></td>
                    <td><%= drink.diata %></td>
                    <td><%= drink.dtime %></td>
                    <td><%= drink.atime %></td>
                </tr>
            <% }); %>
        </table>
            <input type="text" value = '1' style = "visibility: hidden" name="c"><br>
            <text class="btn btn-default">Airlinecode,...</text><input type="text" placeholder="Airlinecode,..." name="ac"><br>
            <text class="btn btn-default">Flightnumber,...</text><input type="text" placeholder="Flightnumber,..." name="fn"><br>
            <text class="btn btn-default">Class:F/E</text><input type="text" placeholder="Class:F/E" name="cl"><br>
            <input  class="btn btn-default" type="submit" value="MakePayment" name="check"/>
        </form>
    </div>
</main>

<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>