<!-- views/pages/purchase.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <form action="http://127.0.0.1:8080/bookc" method="POST">
            <h2>The following are your available credit card number(s) and chosen flight information</h2>
            <h2>Chosen Class(s)</h2>
            <p><%= cl %></p>
            <table>
                <tr>
                    <th>Airplane Code</th>
                    <th>Flight Number</th>
                </tr>
                <% fly.forEach(function(drink) { %>
                    <tr>
                        <td><%= drink.ac %></td>
                        <td><%= drink.fn %></td>
                    </tr>
                <% }); %>
            </table>
            <h3 >Choose a credit card by entering it or go to update information to add a credit card</h3><br>
            <text class="btn btn-default">Credit Card Number</text>
            <select id="mySelect"  class="btn btn-default dropdown-toggle" name = "ac" value = "Limit of Connections" >
                    <% drinks.forEach(function(drink) { %>
                        <option value= <%= drink.cnumber %> ><%= drink.cnumber %></option>
                    <% }); %>
              </select><br>
            <input class="btn btn-default" type="submit" value="Purchase" name="check"/>
        </form>
    </div>
</main>

<footer class="container-fluid text-center">
    <% include ../partials/footer %>
</footer>

</body>
</html>